.dxSpreadsheet_TouchResize_Aqua
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxSpreadsheet_TouchResize_Aqua
{
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
}

