@model Dictionary<string, IEnumerable<Homeclick.Models.CollectionViewModel>>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/Layout_BoSuuTap.cshtml";
    var slides = ViewBag.Slides as IEnumerable<Homeclick.Models.CollectionViewModel>;
}

@Html.Partial("Slider", slides)

@foreach (var pair in Model)
{
    var list = pair.Value;
    <section role="grid" class="row">

        <div class="category-title">
            <span>
                @pair.Key
            </span>
            <a href="/BoSuuTap/@list.First().categoryId">Xem thêm >></a>
        </div>
        @Html.Partial("_CollectionGrid", list)
    </section>
        <hr style="margin: 20px -15px;" />
        }