<section class="slider-home">
    <div class="owl-carousel">
        <div class="full-width"><a href="#"><img src="~/Upload/Images/slider_01.jpg" alt="Slider_01"></a></div>
        <div class="full-width"><a href="#"><img src="~/Upload/Images/slider_02.jpg" alt="GTA V"></a></div>
        <div class="full-width"><a href="#"><img src="~/Upload/Images/slider_03.jpg" alt="Mirror Edge"></a></div>
        <div class="full-width"><a href="#"><img src="~/Upload/Images/slider_04.jpg" alt="Mirror Edge"></a></div>
    </div>
</section>
