@using Homeclick.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SharedLayout_NoSidebar.cshtml";
}
    @Html.Partial("_Slider")

    <div class="container category">
        <div class="row">
            <div class="col-md-6 tuthietke">
                <div class="inside">
                    <div class="content-block">
                        <div class="content-hover">
                            <div class="description">Ai cũng có thể tự thiết kế nhà cho mình đơn giản & rất dễ sử dụng</div>
                            @{

                                string link = Url.Action("Detail", "Page", new { @alias = "tuthietke" });
                            }
                            <a href="@link" class="plus-button"><img src="~/Upload/Images/assets/icon_mouse.png" /></a>
                        </div>
                     </div>
                </div>
            </div>
            <div class="col-md-6 bosuutap">
                <div class="inside">
                    <div class="content-block">
                        <div class="content-hover">
                            <div class="description">Bạn có thể tiết kiệm gần 30% khi mua trọn bộ sưu tập</div>
                            @{
                                link = Url.Action("Index", "BoSuuTap");
                            }
                            <a href="@link" class="plus-button"><img src="~/Upload/Images/assets/icon_loop.png" /></a>
                        </div>
                       </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container featured-item">
        <div class="row">
                 @Html.Action("Feature_Product", "Home")
        </div>
    </div>

@section styles {
    <style>
        .slider-home {
            margin-bottom:15px;
        }

        .owl-controls {
            bottom:10px!important;
        }
    </style>
}

@section scripts {
    <script type="text/javascript">
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            nav: false,
            slideSpeed: 300,
            paginationSpeed: 400,
            pagination: true,
            items: 1,
            navigationText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"]
        });
    </script>
}
