
@{
    Layout = null;
}
<div class="newletter">
    <div class="container">
        <div class="row">
            <div class="title-newletter">
                <h3>Nhận thông tin</h3>
                <p>Đăng ký để nhận thông đầy đủ về các chương trình khuyến mãi, sự kiện tại Homeckick.vn</p>
            </div>
            <div class="form-newletter">
                <form action="#">
                    <input class="input-newletter nl-name" placeholder="Name" type="text" />
                    <input class="input-newletter nl-email" placeholder="Email" type="text" />
                    <input class="button nl-button" type="submit" value="Đăng Kí" />
                </form>
            </div>
            <div class="newletter-address">
                <p>Địa chỉ:  Đường 123, Qtuận 1,Tp. Hồ Chí Minh </p>
                <p>Điện thoại: 0905 000 111 -Fax:05113 333 333</p>
                <p>Email: Info@homeclick.vn - Facebook: homeclick.vn - Website: Homeclick.vn</p>
            </div>
        </div>
    </div>
</div>