
<section class="tuthietke-video">
    <div class="container">
        <div class="row">
           <div class="col-sm-6">
               <div style="background: url(../Upload/Images/bg_tuthietkeyou.png) no-repeat scroll left top transparent; height: 364px; margin: 0px auto; padding: 19px 0px 0px 22px; text-align: left; width: 532px;">
                   <iframe width="500" height="300" src="http://www.youtube.com/embed/NB7NETne1rM?rel=0" frameborder="0" allowfullscreen></iframe>
               </div>
           </div>

            <div class="col-sm-6">
                <div class="online-tuthietke">
                    <h3>Online Room Planner</h3>
                    <h4>Design your space with this simple tool</h4>
                    <p>Built a room layout in any shape or size</p>
                    <a href="@Url.Action("Thietke1","Html")">Start Planning</a>
                </div>
            </div>
        </div>
    </div>
</section>