
@{
    ViewBag.Title = "Thiết kế 1";
    Layout = "~/Views/Shared/Layout_html.cshtml";
}


<main id="main" class="">
    <div class="container thietke thietke01">
        <div class="row">
            <h3 class="title-thietke">Có 2 cách rất dễ dàng để bạn có thể bắt đầu:</h3>
            <div class="col-sm-6 left-thietke1">
                <h4 class="title-tuthietke-item">Chọn layout của bạn theo dự án bên dưới</h4>
                <div class="form-thietke-left">
                    <form id="canvas-picker" method="GET" action="@Url.Action("Floor", "Design")">
                        <label>Chọn địa điểm</label>
                        <select class="cities" name="department_city" id="department-city">
                            <option value="">--Chọn Thành phố--</option>
                        </select>
                        <label>Chọn quận</label>
                        <select class="districts" autocomplete="off" name="department_district" id="department-district">
                            <option value="">--Chọn Quận--</option>
                        </select>
                        <label>Chọn công trình</label>
                        
                        <select class="project" autocomplete="off" name="department_project" id="department-project">
                            <option value="">--Chọn Công trình--</option>
                        </select>
                        <label>Chọn Khu</label>

                        <select class="department" autocomplete="off" name="department_department" id="department-department">
                            <option value="">--Chọn Khu--</option>
                        </select>
                        <label>Chọn tầng</label>
                        <select class="floor" autocomplete="off" name="department_floor" id="department-floor">
                            <option value="">--Chọn Tầng--</option>
                        </select>
                        <label>Chọn căn hộ</label>
                        <select class="room" autocomplete="off" name="department_room" id="department-room">
                            <option value="">--Chọn căn hộ--</option>
                        </select>
                        <input class="button-create left" type="submit" value="Mở layout này" />
                    </form>
                </div>
            </div>
            <script type="text/javascript">
                const baseUrl = "@Url.GetBaseUrl()";
                function loadDepartment(id, url, beforeCb, successCb) {
                    
                    jQuery.ajax({
                        url: baseUrl + "/Design" + "/" + url + "/" + id || "",
                        method: "GET",
                        dataType: "text",
                        success: function (response) {
                            window.setTimeout(function () {
                                jQuery('.loading.arc').remove();
                                $("#canvas-picker select").removeAttr("disabled");
                                
                            }, 200);
                            successCb(response);
                        },
                        beforeSend: function () {
                            beforeCb();
                        }
                    });
                }
                jQuery(document).ready(function ($) {
                    var loadingDiv = '<div class="loading arc"></div>';
                    loadDepartment(undefined, "getCities", function () { }, function (response) {
                        $("#department-city").html('<option value="">--Chọn Thành phố--</option>' + response);
                    });
                    $("#department-city").on("change", function (e) {
                        loadDepartment(this.value, "getDistricts", function () {
                            $("#department-district").attr("disabled", "disabled");
                            $("#department-district").after(loadingDiv);
                        }, function (response) {
                            $("#department-district").html('<option value="">--Chọn Quận--</option>' + response);
                        });
                    });

                    $("#department-district").on("change", function (e) {
                        loadDepartment(this.value, "getProjects", function () {
                            $("#department-project").attr("disabled", "disabled");
                            $("#department-project").after(loadingDiv);
                        }, function (response) {
                            $("#department-project").html('<option value="">--Chọn Công trình--</option>' + response);
                        });
                    });

                    $("#department-project").on("change", function (e) {
                        loadDepartment(this.value, "getDepartments", function () {
                            $("#department-department").attr("disabled", "disabled");
                            $("#department-department").after(loadingDiv);
                        }, function (response) {
                            $("#department-department").html('<option value="">--Chọn Khu--</option>' + response);
                        });
                    });
                    $("#department-department").on("change", function (e) {
                        loadDepartment(this.value, "getFloors", function () {
                            $("#department-floor").attr("disabled", "disabled");
                            $("#department-floor").after(loadingDiv);
                        }, function (response) {
                            $("#department-floor").html('<option value="">--Chọn Tầng--</option>' + response);
                        });
                    });
                    $("#department-floor").on("change", function (e) {
                        loadDepartment(this.value, "getRooms", function () {
                            $("#department-room").attr("disabled", "disabled");
                            $("#department-room").after(loadingDiv);
                        }, function (response) {
                            $("#department-room").html('<option value="">--Chọn căn hộ--</option>' + response);
                        });
                    });


                    $("#canvas-picker").on("submit", function (e) {
                        e.preventDefault();
                        window.open("@Url.GetBaseUrl()/Design/Canvas/" + $("#department-room").val(), "_blank");
                    });

                });
            </script>
            <div class="col-sm-6 right-thietke1">
                <h4 class="title-tuthietke-item">Tự thiết kế layout của chính bạn:</h4>
                <div class="form-thietke-right">
                    Coming soon
                    @*<form action="@Url.Action("duphong1", "Html")">
                        <input type="radio" name="gender" value="male">Start with a blank paln<br>
                        <input type="radio" name="gender" value="female"> Start with a basic shaped room, enter dimensions below<br>
                        <input type="radio" name="gender" value="other"> Start an elevantion plan, enter dimensions below
                        <div class="select-size">
                            <div class="length-size"><span>Length</span><input type="number" /><span>mtr</span></div>
                            <div class="depth-size"><span>Depth</span><input type="number" /><span>mtr</span></div>
                        </div>

                        <input class="button-create" type="submit" value="Create a new plan" />

                        <div class="select-layout-built">
                            <ul class="layout-built-item">
                                <li><img src="~/Upload/Images/thietke01.png" alt="" /></li>
                                <li><img src="~/Upload/Images/thietke04.png" alt="" /></li>
                                <li><img src="~/Upload/Images/thietke31.png" alt="" /></li>
                                <li><img src="~/Upload/Images/thietke04.png" alt="" /></li>
                                <li><img src="~/Upload/Images/thietke05.png" alt="" /></li>
                                <li><img src="~/Upload/Images/thietke06.png" alt="" /></li>
                                <li><img src="~/Upload/Images/thietke07.png" alt="" /></li>
                                <li><img src="~/Upload/Images/thietke08.png" alt="" /></li>
                                <li><img src="~/Upload/Images/thietke09.png" alt="" /></li>
                            </ul>
                        </div>
                    </form>*@
                </div>
            </div>
        </div>
    </div>
</main>
