
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/Design/DesignSliderPartial.cshtml")
<main id="main" class="site-main design">
    <div class="container ">
        <div class="row">
            <div class="design-header">
                <h3 class="design-title">Tự thiết kế</h3>
                <p>We are offering you our tremendous choice of different kinds of furniture. It is totally safe for your health. It has passed many various tests without a single failure. This product has unique design and many special options which could indeed help you. You know, nowadays good design is a really important thing.For those people who don’t care about fashion we offer some interesting design versions which have simple design and functional options.</p>
            </div>
        </div>
    </div>
    <div class="design-content container">
        <div class="row">
            <div class="design-list-item">
                <div class="design-item">
                    <img src="~/Upload/Images/assets/design-icon-01.png" alt="" />
                   <div class="design-item-content-ds">
                       <h3 class="item-title-ds">Chọn mặt bằng</h3>
                       <a class="button-choose-ds">Bước 1</a>
                   </div>
                </div>
                <div class="design-item">
                    <img src="~/Upload/Images/assets/design-icon-02.png" alt="" />
                    <div class="design-item-content-ds">
                        <h3 class="item-title-ds">Kéo thả</h3>
                        <a class="button-choose-ds">Bước 2</a>
                    </div>
                 </div>
                <div class="design-item">
                    <img src="~/Upload/Images/assets/design-icon-03.png" alt="" />
                    <div class="design-item-content-ds">
                        <h3 class="item-title-ds">Save</h3>
                        <a class="button-choose-ds">Bước 3</a>
                    </div>
                </div>
                <div class="design-item">
                    <img src="~/Upload/Images/assets/design-icon-04.png" alt="" />
                    <div class="design-item-content-ds">
                        <h3 class="item-title-ds">Gửi mail đặt hàng</h3>
                        <a class="button-choose-ds">Bước 4</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-design">
        <div class="container">
           <div class="row">
               <a href="#">Bắt đầu</a>
           </div>
        </div>
    </div>
</main>