
<footer id="footer" class="site-footer">
    <footer class="page-footer" >
        <div class="container">
            <div class="row">
                <div class="footer-subscribe col m8 l6 s12">
                    <div class="logo-footer">
                        <a href="#"><img src="~/Upload/Images/assets/logo.png" /></a>
                    </div>
                    <div class="subscribe-form">
                        <div class="newsletter newsletter-widget">
                            <form action="#" onsubmit="return newsletter_check(this)" method="post"><input type="hidden" name="nr" value="widget"><p><input class="newsletter-email" type="email" required="" name="ne" value="Email" onclick="if (this.defaultValue==this.value) this.value=''" onblur="if (this.value=='') this.value=this.defaultValue"></p><p><input class="newsletter-submit" type="submit" value="Submit"></p></form>
                        </div>
                    </div>
                    <div class="new-sub">
                        <p></p>
                        <p>Nếu có thắc mắc xin vui lòng liên hệ email :<span>info@homeclick.vn</span> hoặc gọi cho chúng tôi trong giờ hành chánh 8h đến 17h hàng ngày từ thứ 2 đến thứ 7.</p>
                    </div>
                </div>
                <aside id="nav_menu-3" class="footer-link col m4 l3 s12">
                    <div class="menu-footer-right-menu-container">
                        <ul id="menu-footer-right-menu" class="menu">
                            <li id="menu-item-119" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-119"><a href="#">Trade Program</a></li>
                            <li id="menu-item-118" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118"><a href="#">Privacy</a></li>
                            <li id="menu-item-116" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116"><a href="#">Terms Of Use</a></li>
                        </ul>
                    </div>
                </aside>
                <aside id="nav_menu-2" class="footer-link col m4 l3 s12">
                    <div class="menu-footer-left-menu-container">
                        <ul id="menu-footer-left-menu" class="menu">
                            <li id="menu-item-105" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-105"><a href="#">Store Customer Service</a></li>
                            <li id="menu-item-106" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-106"><a href="#">Shipping &amp; Delivery</a></li>
                            <li id="menu-item-109" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"><a href="#">FAQs</a></li>
                            <li id="menu-item-108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-108"><a href="#">Returns &amp; Exchanges</a></li>
                            <li id="menu-item-107" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-107"><a href="#">Order Tracking</a></li>
                            <li id="menu-item-107" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-107"><a href="#">Trade Program</a></li>
                            <li id="menu-item-107" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-107"><a href="#">Registry</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <ul class="footer-social">
                        <li><a class="rss" href="#!"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="flickr" href="#!"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a class="facebook" href="#!"><i class="fa fa-google-plus"></i></a></li>
                        <li><a class="twitter" href="#!"><i class="fa fa-rss"></i></a></li>
                        <li><a class="dribbble" href="#!"><i class="fa fa-pinterest"></i></a></li>
                        <li><a class="dribbble" href="#!"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                    <div class="copyright-design">
                        <p> COPYRIGHT 2015 HOMCLICK.VN - Design by: Websiteplaza</p>
                    </div>
                </div>
            </div>
           
        </div>
    </footer>
</footer><!-- footer -->
