
@{
    ViewBag.Title = "Canthietke";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main" class="site-main">
    <div class="container page-canthietke">
        <div class="row post-canthietke">
            <div class="col-sm-8">
                <h3 class="title-item-canthietke">Làm thế nào để tư vấn thiết kế có thể giúp được?</h3>
                <ol>
                    <li><strong>Chúng tôi sẽ xem xét thật kỹ lưỡng những gì bạn đã có:&nbsp;</strong>Nếu không cần thiết có thể giữ nó để tránh lãng phí, chúng tôi sẽ bổ sung những thứ cần thiết để làm cho căn nhà của bạn trở nên đẹp đẽ hơn.</li>
                    <li><strong>Chúng tôi sẽ biến căn nhà thực sự thuộc về bạn, của chính bạn:&nbsp;</strong>Chúng tôi làm việc với bạn để hiểu rõ về ngôi nhà mà bạn đang mong muốn có được. giúp bạn hiểu rõ được thế nào là một không gian sống tôt đẹp.</li>
                    <li><strong>Chúng tôi giúp bạn tiết kiệm thời gian và tiền bạc:&nbsp;</strong>Đồ nội thất, thảm, ván lót sàn, đồ trang trí …. Chúng tôi sẽ lập kế hoạch thật chi tiết, làm việc với những gì bạn đang có, và chắc chắn trong phạm vi ngân sách của bạn để giúp bạn tiết kiệm thời gian và tiền bạc.&nbsp;</li>
                    
                </ol>
            </div>
            <div class="col-sm-4">
                <img src="~/Upload/Images/canthietke01.jpg" />
            </div>
        </div>
        <div class="row post-canthietke">
            <div class="col-sm-4">
                <img src="~/Upload/Images/canthietke02.jpg" />
            </div>
            <div class="col-sm-8">
                <h3 class="title-item-canthietke">Tôi nên mong đợi điều gì?</h3>
                <ol>
                    <li><strong>Không có công việc nào là quá lớn hay quá nhỏ.:&nbsp;</strong>Cho dù đó chỉ là đặt thêm một tấm thảm trong phòng khách hay dán giấy dán tường trong phòng em bé. Tất cả đều là nhiệm vụ thiết kế và bạn phải làm cho nó thật hoàn chỉnh.</li>
                    <li><strong>Không gian mà bạn có, nó không những đẹp mà phải thật hiệu quả về công năng:&nbsp;</strong>Đội ngũ thiết kế sẽ làm việc với bạn để tìm hiểu cặn kẽ nhu cầu và đưa ra những giải pháp phù hợp cho ngôi nhà của bạn.&nbsp;</li>
                    <li><strong>Một kế hoạch được tạo ra dành riêng cho bạn:&nbsp;</strong>Chúng tôi sẽ cung cấp thật nhiều chi tiết có thể, đưa ra những bản vẽ cần thiết để bạn có thể hình dung ra trước không gian của nhà mình trước khi thực hiện bất cứ đặt hàng nào. Chúng tôi muốn chắc chắn mọi thứ phải thật đúng đắn!</li>
                </ol>
            </div>
        </div>
        <div class="row post-canthietke">
            <h3 class="title-item-canthietke">Chúng ta sẽ bắt đầu như thế nào?</h3>
            <h3 class="title-part">Để phân loại nhu cầu của bạn thật chính xác, chúng tôi tạm chia ra các nhu cầu như sau:</h3>
            <h4>@Html.ActionLink("Thiết kế nội thất", "Thietkenoithat", "Html")</h4>
            <p>Nếu bạn đã có thiết kế kiến trúc cho căn nhà của mình hoặc công trình của bạn là căn hộ, hãy nhấp vào đây để cung cấp cho chúng tôi biết một vài thông tin về nhu cầu thực sự của bạn.</p>
            <h4>@Html.ActionLink("Thiết kế kiến trúc", "Thietkekientruc", "Html")</h4>
            <p>Nếu bạn mới chỉ có sơ đồ khu đất và muốn xây cất ngôi nhà ưng ý nhất trên khu đất đó vui lòng click vào đây để cung cấp thông tin cho chúng tôi.</p>
        </div>

    </div>
</main>

