@using Homeclick.Models
@model IList<Category>
@{
    ViewBag.Title = "San pham khac";
    Layout = "~/Views/Shared/Layout_sanphamkhac.cshtml";
    string url = "http://demo.vinabits.com.vn/homeclick2";
}
<div class="row">
    <div class="page-bosuutap ">
        <div class="row">
            <div class="sanphamkhac-slide">
                <section class="slider-sanphamkhac">
                    <div id="slider-home" class="owl-carousel owl-theme">
                        <div class="item"><a href="#"><img src="~/Upload/Images/slider_01.jpg" alt="Slider_01"></a></div>
                        <div class="item"><a href="#"><img src="~/Upload/Images/slider_02.jpg" alt="GTA V"></a></div>
                        <div class="item"><a href="#"><img src="~/Upload/Images/slider_03.jpg" alt="Mirror Edge"></a></div>
                        <div class="item"><a href="#"><img src="~/Upload/Images/slider_04.jpg" alt="Mirror Edge"></a></div>
                    </div>
                </section>
            </div>
            <div class=" bosuutap-grid phong">
                <h6 class="number-items section-header">3 item(s)</h6>
                <div class="oderby-html">
                    <span>Sort by</span>
                    <select>
                        <option>Default</option>
                        <option>Prince</option>
                        <option>Default</option>
                    </select>
                </div>
                <div class="feature-item">
                    <div class="item-product col-md-4">
                        <div class="image">
                            <a href="/homeclick/SanPham/Product_Detail/22"><img src="http://demo.vinabits.com.vn/homeclick2/Upload\Images\product_01_lager.png" alt=""></a>
                        </div>
                        <div class="detail-item">
                            <h3 class="title-item"><a href="/homeclick/SanPham/Product_Detail/22">Comfort Systems Loft </a></h3>
                            <p>430000 đ</p>
                        </div>
                    </div>
                    <div class="item-product col-md-4">
                        <div class="image">
                            <a href="/homeclick/SanPham/Product_Detail/21"><img src="http://demo.vinabits.com.vn/homeclick2/Upload\Images\product_02_lager.png" alt=""></a>
                        </div>
                        <div class="detail-item">
                            <h3 class="title-item"><a href="/homeclick/SanPham/Product_Detail/21">Empire Comfort System</a></h3>
                            <p>250000 đ</p>
                        </div>
                    </div>
                    <div class="item-product col-md-4">
                        <div class="image">
                            <a href="/homeclick/SanPham/Product_Detail/23"><img src="http://demo.vinabits.com.vn/homeclick2/Upload\Images\product_05_lager.png" alt=""></a>
                        </div>
                        <div class="detail-item">
                            <h3 class="title-item"><a href="/homeclick/SanPham/Product_Detail/23">Pellet Inserts</a></h3>
                            <p>2340000 đ</p>
                        </div>
                    </div>
                    <div class="item-product col-md-4">
                        <div class="image">
                            <a href="/homeclick/SanPham/Product_Detail/13"><img src="http://demo.vinabits.com.vn/homeclick2/Upload\Images\product_04_lager.png" alt=""></a>
                        </div>
                        <div class="detail-item">
                            <h3 class="title-item"><a href="/homeclick/SanPham/Product_Detail/13">Riviera Ottoman with Cushion in Green Apple</a></h3>
                            <p>400000 đ</p>
                        </div>
                    </div>
                    <div class="item-product col-md-4">
                        <div class="image">
                            <a href="/homeclick/SanPham/Product_Detail/12"><img src="http://demo.vinabits.com.vn/homeclick2/Upload\Images\product_04_lager.png" alt=""></a>
                        </div>
                        <div class="detail-item">
                            <h3 class="title-item"><a href="/homeclick/SanPham/Product_Detail/12">Skram - Ant B Side Table</a></h3>
                            <p>300000 đ</p>
                        </div>
                    </div>
                    <div class="item-product col-md-4">
                        <div class="image">
                            <a href="/homeclick/SanPham/Product_Detail/7"><img src="http://demo.vinabits.com.vn/homeclick2/Upload\Images\product_04_lager.png" alt=""></a>
                        </div>
                        <div class="detail-item">
                            <h3 class="title-item"><a href="/homeclick/SanPham/Product_Detail/7">Test</a></h3>
                            <p>1000000 đ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $("#slider-bosuutap").nivoSlider({
            effect: 'random',
            animSpeed: 500,
            pauseTime: 4000,
            startSlide: 0,
            directionNav: true,
            controlNav: false,
            //pauseOnHover: false,
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>'
        });
    });
</script>