
@{
    ViewBag.Title = "Faqs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main" class="site-main">
    <div class="container page-faqs">
        <div class="row">
            <div class="sc_heading text-center">
                <h3 class="title">Frequently Asked Questions</h3>
                <p class="sub-heading" style="">Answer all of your questions</p>
                <span class="line"></span>
            </div>
        </div>
        <div class="row">
            <div class="left-faqs col-sm-6">
                <div>
                    <h3 class="title-content-faq">Purchases &amp; Refunds</h3>
                    <div class="faq_container">
                        <div class="faq">
                            <div class="faq_question">Why won't my payment go through?</div>
                            <div class="faq_answer_container">
                                <div class="faq_answer">
                                    Include the latest jQuery
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book..</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq_container">
                        <div class="faq">
                            <div class="faq_question">How do I get a refund? </div>
                            <div class="faq_answer_container">
                                <div class="faq_answer">
                                    Include the latest jQuery
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq_container">
                        <div class="faq">
                            <div class="faq_question">What jQuery do I need?</div>
                            <div class="faq_answer_container">
                                <div class="faq_answer">
                                    Include the latest jQuery
                                    <p> If you are using a modern CMS such as WordPress or Drupal you can skip this as they already have jQuery pre-loaded.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq_container">
                        <div class="faq">
                            <div class="faq_question">What jQuery do I need?</div>
                            <div class="faq_answer_container">
                                <div class="faq_answer">
                                    Include the latest jQuery
                                    <p> If you are using a modern CMS such as WordPress or Drupal you can skip this as they already have jQuery pre-loaded.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-faqs col-sm-6">
                <div>
                    <h3 class="title-content-faq">Purchases &amp; Refunds</h3>
                    <div class="faq_container">
                        <div class="faq">
                            <div class="faq_question">What jQuery do I need?</div>
                            <div class="faq_answer_container">
                                <div class="faq_answer">
                                    Include the latest jQuery
                                    <p> If you are using a modern CMS such as WordPress or Drupal you can skip this as they already have jQuery pre-loaded.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq_container">
                        <div class="faq">
                            <div class="faq_question">What jQuery do I need?</div>
                            <div class="faq_answer_container">
                                <div class="faq_answer">
                                    Include the latest jQuery
                                    <p> If you are using a modern CMS such as WordPress or Drupal you can skip this as they already have jQuery pre-loaded.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq_container">
                        <div class="faq">
                            <div class="faq_question">What jQuery do I need?</div>
                            <div class="faq_answer_container">
                                <div class="faq_answer">
                                    Include the latest jQuery
                                    <p> If you are using a modern CMS such as WordPress or Drupal you can skip this as they already have jQuery pre-loaded.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq_container">
                        <div class="faq">
                            <div class="faq_question">What jQuery do I need?</div>
                            <div class="faq_answer_container">
                                <div class="faq_answer">
                                    Include the latest jQuery
                                    <p> If you are using a modern CMS such as WordPress or Drupal you can skip this as they already have jQuery pre-loaded.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="contact-faqs text-center">
                <h4>Didn't find the answer?</h4>
                <div class="form-questions">
                    <div class="screen-reader-response"></div>
                    <form action="#" method="post">
                        <div style="display: none;">
                            <input type="hidden" value="4">
                            <input type="hidden" value="4.4.1">
                            <input type="hidden" value="en_US">
                            <input type="hidden">
                            <input type="hidden">
                        </div>
                        <p><span class="question-input question-your-name"><input type="text" name="your-name" value="" size="40" placeholder="Name *"></span> </p>
                        <p><span class="question-input question-your-email"><input type="email" name="your-email" value="" placeholder="Email *"></span> </p>
                        <p><span class="question-input question-your-subject"><input type="text" name="your-subject" value="" placeholder="Subject"></span> </p>
                        <p><span class="question-input question-your-massage"><textarea name="your-message" cols="40" rows="10" placeholder="Message"></textarea></span> </p>
                        <p><input type="submit" value="Submit" class="question-submit"><img class="ajax-loader" src="http://educationwp.thimpress.com/wp-content/themes/eduma/images/ajax-loader.gif" alt="Sending ..." style="visibility: hidden;"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

