
@{
    ViewBag.Title = "Keotha";
    Layout = "~/Views/Shared/Layout_keotha.cshtml";
}

<main id="main" class="site-main">
    <div class="container keotha">
        <div class="row">
            <div class="col-sm-4">
                <img src="~/Upload/Images/assets/logo.png" />
                <div class="tabs-container">
                    <ul class="tabs clearfix">
                        <li class="active">
                            <a href="#noithat">Nội thất</a>
                        </li>
                        <li>
                            <a href="#tran" class="">Trần</a>
                        </li>
                        <li>
                            <a href="#san" class="">Sàn</a>
                        </li>
                        <li>
                            <a href="#tuong" class="">Tường</a>
                        </li>
                        <li>
                            <a href="#timkiem" class="">Tìm kiếm</a>
                        </li>
                        <li>
                            <a href="#chiphi" class="">Chi phí</a>
                        </li>
                    </ul>

                    <div id="noithat" class="tab-content">
                        <div class="select-keotha">
                            <select>
                                <option value="">Phòng khách</option>
                                <option value="">Phòng ngủ</option>
                                <option value="">Phòng bếp</option>
                            </select>
                            <select name="">
                                <option value="">Ghế</option>
                                <option value="">Giường</option>
                                <option value="">Bàn</option>
                            </select>
                        </div>
                        <div class="noithat-keotha">
                            <div class="keotha-item">
                                <a href="#">
                                    <img src="~/Upload/Images/chair01.png" alt="" />
                                    <h4><a href="#">Robot Chair</a></h4>
                                </a>
                            </div>
                            <div class="keotha-item">
                                <a href="#">
                                    <img src="~/Upload/Images/chair01.png" alt="" />
                                    <h4><a href="#">Robot Chair</a></h4>
                                </a>
                            </div>
                            <div class="keotha-item">
                                <a href="#">
                                    <img src="~/Upload/Images/chair01.png" alt="" />
                                    <h4><a href="#">Robot Chair</a></h4>
                                </a>
                            </div>
                            <div class="keotha-item">
                                <a href="#">
                                    <img src="~/Upload/Images/chair01.png" alt="" />
                                    <h4><a href="#">Robot Chair</a></h4>
                                </a>
                            </div>
                            <div class="keotha-item">
                                <a href="#">
                                    <img src="~/Upload/Images/chair01.png" alt="" />
                                    <h4><a href="#">Robot Chair</a></h4>
                                </a>
                            </div>
                            <div class="keotha-item">
                                <a href="#">
                                    <img src="~/Upload/Images/chair01.png" alt="" />
                                    <h4><a href="#">Robot Chair</a></h4>
                                </a>
                            </div>
                            <div class="keotha-item">
                                <a href="#">
                                    <img src="~/Upload/Images/chair01.png" alt="" />
                                    <h4><a href="#">Robot Chair</a></h4>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="san" class="tab-content">
                        <div class="select-keotha">
                            <select name="">
                                <option value="">Phòng khách</option>
                                <option value="">Phòng ngủ</option>
                                <option value="">Phòng bếp</option>
                            </select>
                            <select name="">
                                <option value="">Ghế</option>
                                <option value="">Giường</option>
                                <option value="">Bàn</option>
                            </select>
                        </div>
                        <div class="noithat-keotha">
                            <div class="keotha-item">
                                <a href="#">
                                    <img src="~/Upload/Images/chair01.png" alt="" />
                                    <h4><a href="#">Robot Chair</a></h4>
                                </a>
                            </div>
                            <div class="keotha-item">
                                <a href="#">
                                    <img src="~/Upload/Images/chair01.png" alt="" />
                                    <h4><a href="#">Robot Chair</a></h4>
                                </a>
                            </div>
                            <div class="keotha-item">
                                <a href="#">
                                    <img src="~/Upload/Images/chair01.png" alt="" />
                                    <h4><a href="#">Robot Chair</a></h4>
                                </a>
                            </div>
                            <div class="keotha-item">
                                <a href="#">
                                    <img src="~/Upload/Images/chair01.png" alt="" />
                                    <h4><a href="#">Robot Chair</a></h4>
                                </a>
                            </div>
                            <div class="keotha-item">
                                <a href="#">
                                    <img src="~/Upload/Images/chair01.png" alt="" />
                                    <h4><a href="#">Robot Chair</a></h4>
                                </a>
                            </div>
                            <div class="keotha-item">
                                <a href="#">
                                    <img src="~/Upload/Images/chair01.png" alt="" />
                                    <h4><a href="#">Robot Chair</a></h4>
                                </a>
                            </div>
                            <div class="keotha-item">
                                <a href="#">
                                    <img src="~/Upload/Images/chair01.png" alt="" />
                                    <h4><a href="#">Robot Chair</a></h4>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="tuong" class="tab-content">
                        <div class="select-keotha">
                            <select name="">
                                <option value="">Phòng khách</option>
                                <option value="">Phòng ngủ</option>
                                <option value="">Phòng bếp</option>
                            </select>
                            <select name="">
                                <option value="">Ghế</option>
                                <option value="">Giường</option>
                                <option value="">Bàn</option>
                            </select>
                        </div>
                        <div class="noithat-keotha">
                            <div class="keotha-item">
                                <a href="#">
                                    <img src="~/Upload/Images/chair01.png" alt="" />
                                    <h4><a href="#">Robot Chair</a></h4>
                                </a>
                            </div>
                            <div class="keotha-item">
                                <a href="#">
                                    <img src="~/Upload/Images/chair01.png" alt="" />
                                    <h4><a href="#">Robot Chair</a></h4>
                                </a>
                            </div>
                            <div class="keotha-item">
                                <a href="#">
                                    <img src="~/Upload/Images/chair01.png" alt="" />
                                    <h4><a href="#">Robot Chair</a></h4>
                                </a>
                            </div>
                            <div class="keotha-item">
                                <a href="#">
                                    <img src="~/Upload/Images/chair01.png" alt="" />
                                    <h4><a href="#">Robot Chair</a></h4>
                                </a>
                            </div>
                            <div class="keotha-item">
                                <a href="#">
                                    <img src="~/Upload/Images/chair01.png" alt="" />
                                    <h4><a href="#">Robot Chair</a></h4>
                                </a>
                            </div>
                            <div class="keotha-item">
                                <a href="#">
                                    <img src="~/Upload/Images/chair01.png" alt="" />
                                    <h4><a href="#">Robot Chair</a></h4>
                                </a>
                            </div>
                            <div class="keotha-item">
                                <a href="#">
                                    <img src="~/Upload/Images/chair01.png" alt="" />
                                    <h4><a href="#">Robot Chair</a></h4>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="timkiem" class="tab-content">
                        <form action="#">
                            <label>Tìm kiếm</label>
                            <input type="text" placeholder="Tìm kiếm" />
                            <input type="submit" value="Tìm kiếm" />
                        </form>
                    </div>
                    <div id="chiphi" class="tab-content">
                        <div class="keotha-chiphi">
                            <div class="keotha-chiphi-item">
                                <h3 class="title-keotha-chiphi">Hạng mục đồ nội thất</h3>
                                <span class="chiphi-total">85.000.000đ</span>
                                <div class="chiphi-child">
                                    <ul>
                                        <li><a href="#"><img src="~/Upload/Images/chiphi_item01.png" alt="" /></a></li>
                                        <li><a href="#">Smalago-24de</a></li>
                                        <li>
                                            <ul>
                                                <li>Tên công ty</li>
                                                <li>Bao gồm gối</li>
                                                <li>25wx22dx1h</li>
                                            </ul>
                                        </li>
                                        <li>1 cái</li>
                                        <li>15.000.000</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="keotha-chiphi-item">
                                <h3 class="title-keotha-chiphi">Hạng mục đồ nội thất</h3>
                                <span class="chiphi-total">85.000.000đ</span>
                                <div class="chiphi-child">
                                    <ul>
                                        <li><a href="#"><img src="~/Upload/Images/chiphi_item01.png" alt="" /></a></li>
                                        <li><a href="#">Smalago-24de</a></li>
                                        <li>
                                            <ul>
                                                <li>Tên công ty</li>
                                                <li>Bao gồm gối</li>
                                                <li>25wx22dx1h</li>
                                            </ul>
                                        </li>
                                        <li>1 cái</li>
                                        <li>15.000.000</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="keotha-chiphi-item">
                                <h3 class="title-keotha-chiphi">Hạng mục đồ nội thất</h3>
                                <span class="chiphi-total">85.000.000đ</span>
                                <div class="chiphi-child">
                                    <ul>
                                        <li><a href="#"><img src="~/Upload/Images/chiphi_item01.png" alt="" /></a></li>
                                        <li><a href="#">Smalago-24de</a></li>
                                        <li>
                                            <ul>
                                                <li>Tên công ty</li>
                                                <li>Bao gồm gối</li>
                                                <li>25wx22dx1h</li>
                                            </ul>
                                        </li>
                                        <li>1 cái</li>
                                        <li>15.000.000</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="chiphi-total">
                            <div class="chiphi-total-detail">
                               <p>Tổng phụ:<span>265.000.000đ</span></p>
                                <p>Tổng phụ:<span>26.000.000đ</span></p>
                            </div>
                            <div class="total-chiphi">
                                <p>Tổng cộng:<span>290.000.000đ</span></p>
                            </div>
                        </div>
                    </div>
                </div><!-- .tabs-container -->
            </div>
            <div class="col-sm-8">
                <div class="keotha-content">
                    <div class="keotha-ct-header">
                        <div class="ct-title"><span>Plan name</span></div>
                        <div class="content-header">
                            <ul> 
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Login</a></li>
                                <li><a href="#">Singin</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="keotha-menu">
                        <ul>
                            <li>
                                <a href="#">New</a>
                            </li>
                            <li>
                                <a href="#">Save</a>
                            </li>
                            <li>
                                <a href="#">Print</a>
                            </li>
                            <li>
                                <a href="#">Share</a>
                            </li>
                            <li>
                                <a href="#">Undo</a>
                            </li>
                        </ul>
                    </div>
                    <div class="keotha-congcu">
                        <ul>
                            <li><a href="#"><i class="fa fa-mouse-pointer"></i></a></li>
                            <li><a href="#"><i class="fa fa-hand-rock-o"></i></a></li>
                            <li><a href="#"><i class="fa fa-paint-brush"></i></a></li>
                            <li><a href="#"><i class="fa fa-camera"></i></a></li>
                            <li><a href="#"><i class="fa fa-search-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-paint-brush"></i></a></li>
                            <li><a href="#"><i class="fa fa-paint-brush"></i></a></li>
                        </ul>
                    </div>
                    <div class="keotha-choose">
                        <div class="keotha-choose-item">
                            <img src="~/Upload/Images/keotha.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

