
@{
    ViewBag.Title = "Thiết kế 1";
    Layout = "~/Views/Shared/Layout_html.cshtml";
    string url = "http://demo.vinabits.com.vn/homeclick2";
}


    <main id="main" class="">
        <div class="container thietke thietke01">
            <div class="row">
                <h3 class="title-thietke">Có 2 cách rất dễ dàng để bạn có thể bắt đầu:</h3>
                <div class="col-sm-6 left-thietke1">
                    <h4 class="title-tuthietke-item">Chọn layout của bạn theo dự án bên dưới</h4>
                    <div class="form-thietke-left">
                        <form action="@Url.Action("Thietke2", "Html")">
                            <label>Chọn địa điểm</label>
                            <select name="" id="">
                                <option value="">Tp.Hồ chí minh</option>
                                <option value="">Hà nội</option>
                                <option value="">Đà nẵng</option>
                                <option value="">Hải phòng</option>
                                <option value="">Quảng ninh</option>
                                <option value="">Cần thơ</option>
                                <option value="">Bình dương</option>
                            </select>
                            <label>Chọn quận</label>
                            <select name="">
                                <option value="">Quận 7</option>
                                <option value="">Quận 1</option>
                                <option value="">Quận 2</option>
                                <option value="">Quận 3</option>
                                <option value="">Quận 4</option>
                                <option value="">Quận 5</option>
                                <option value="">Quận 6</option>
                            </select>
                            <label>Chọn tháp</label>
                            <select name=""
                                <option value="">Lô A</option>
                                <option value="">Lô B</option>
                                <option value="">Lô C</option>
                                <option value="">Lô D</option>
                            </select>
                            <label>Chọn tầng</label>
                            <select name="">
                                <option value="">Tầng 1</option>
                                <option value="">Tầng 2</option>
                                <option value="">Tầng 3</option>
                                <option value="">Tầng 4</option>
                                <option value="">Tầng 5</option>
                                <option value="">Tầng 6</option>
                                <option value="">Tầng 7</option>
                            </select>
                            <input class="button-create left" type="submit" value="Mở mặt bằng này" />
                        </form>
                    </div>
                </div>
                <div class="col-sm-6 right-thietke1">
                    <h4 class="title-tuthietke-item">Tự thiết kế layout của chính bạn:</h4>
                    <div class="form-thietke-right">
                        <form action="@Url.Action("duphong1", "Html")">
                            <input type="radio" name="gender" value="male">Start with a blank paln<br>
                            <input type="radio" name="gender" value="female"> Start with a basic shaped room, enter dimensions below<br>
                            <input type="radio" name="gender" value="other"> Start an elevantion plan, enter dimensions below
                            <div class="select-size">
                                <div class="length-size"><span>Length</span><input type="number" /><span>mtr</span></div>
                                <div class="depth-size"><span>Depth</span><input type="number" /><span>mtr</span></div>
                            </div>

                            <input class="button-create" type="submit" value="Create a new plan" />

                            <div class="select-layout-built">
                                <ul class="layout-built-item">
                                    <li><img src="~/Upload/Images/thietke01.png" alt="" /></li>
                                    <li><img src="~/Upload/Images/thietke04.png" alt="" /></li>
                                    <li><img src="~/Upload/Images/thietke31.png" alt="" /></li>
                                    <li><img src="~/Upload/Images/thietke04.png" alt="" /></li>
                                    <li><img src="~/Upload/Images/thietke05.png" alt="" /></li>
                                    <li><img src="~/Upload/Images/thietke06.png" alt="" /></li>
                                    <li><img src="~/Upload/Images/thietke07.png" alt="" /></li>
                                    <li><img src="~/Upload/Images/thietke08.png" alt="" /></li>
                                    <li><img src="~/Upload/Images/thietke09.png" alt="" /></li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
