
@{
    ViewBag.Title = "Thietkemau";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <div class="thietkemau">
        <div class="container">
            <div class="row breadcrumb">
                <ul>
                    <li><a href="http://demo.vinabits.com.vn/homeclick/">Home</a></li>
                    <li><a href="http://demo.vinabits.com.vn/homeclick/">Tự thiết kế</a></li>
                    <li>Thiết kế mẫu</li>
                </ul>
            </div>
            <div class="row">
                <h3>Có rất nhiều thiết kế mẫu để bạn lựa chọn</h3>
                <h5>Hãy lựa chọn mà bạn muốn tham khảo bằng cách click vào thanh cuốn bên dưới</h5>
                <form action="#" method="post">
                    <select>
                        <option value="value">Digning Room(21' x 13')</option>
                        <option value="value">Digning Room(21' x 13')</option>
                        <option value="value">Digning Room(21' x 13')</option>
                    </select>
                </form>
                <div class="thietkemau-slider">
                    <div id="thietkemau-slider" class="owl-carousel owl-theme">
                        <div class="item">
                            <a href="#"><img src="~/Upload/Images/thietkemau.png" /></a>
                        </div>
                        <div class="item">
                            <a href="#"><img src="~/Upload/Images/thietkemau.png" /></a>
                        </div>
                        <div class="item">
                            <a href="#"><img src="~/Upload/Images/thietkemau.png" /></a>
                        </div>
                        <div class="item">
                            <a href="#"><img src="~/Upload/Images/thietkemau.png" /></a>
                        </div>
                    </div>
                </div>
                <p>We are offering you our tremendous choice of different kinds of furniture. It is totally safe for your health. It has passed many various tests without a single failure.We are offering you our tremendous choice of different kinds of furniture. It is totally safe for your health. It has passed many various tests without a single failure.We are offering you our tremendous choice of different kinds of furniture. It is totally safe for your health. It has passed many various tests without a single failure.</p>
            </div>
        </div>
    </div>
</main>
