
@{
    ViewBag.Title = "Thietke2";
    Layout = "~/Views/Shared/Layout_html.cshtml";
}
<main id="main" class="">
    <div class="container thietke thietke02">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-thietke-left left-thietke2">
                    <form action="#">
                        <label>Chọn địa điểm</label>
                        <select name="" id="">
                            <option value="">Tp.Hồ chí minh</option>
                            <option value="">Hà nội</option>
                            <option value="">Đà nẵng</option>
                            <option value="">Hải phòng</option>
                            <option value="">Quảng ninh</option>
                            <option value="">Cần thơ</option>
                            <option value="">Bình dương</option>
                        </select>
                        <label>Chọn quận</label>
                        <select name="">
                            <option value="">Quận 7</option>
                            <option value="">Quận 1</option>
                            <option value="">Quận 2</option>
                            <option value="">Quận 3</option>
                            <option value="">Quận 4</option>
                            <option value="">Quận 5</option>
                            <option value="">Quận 6</option>
                        </select>
                        <label>Chọn dự án</label>
                        <select name="">
                            <option value="">Chung cư Tropic Garden</option>
                            <option value="">Chung cư Tropic Garden</option>
                            <option value="">Chung cư Tropic Garden</option>
                            <option value="">Chung cư Tropic Garden</option>

                        </select>
                        <label>Chọn tháp</label>
                        <select name="">
                            <option value="">Lô A</option>
                            <option value="">Lô B</option>
                            <option value="">Lô C</option>
                            <option value="">Lô D</option>
                        </select>
                        <label>Chọn tầng</label>
                        <select name="">
                            <option value="">Tầng 1</option>
                            <option value="">Tầng 2</option>
                            <option value="">Tầng 3</option>
                            <option value="">Tầng 4</option>
                            <option value="">Tầng 5</option>
                            <option value="">Tầng 6</option>
                            <option value="">Tầng 7</option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="right-thietke2">
                    <h3 class="title-name-thietke">Chung cư Tropic Garden </h3>
                    <select class="ins" name="">
                        <option value="">inches</option>
                        <option value="">inches</option>
                        <option value="">inches</option>
                        <option value="">inches</option>
                    </select>
                    <div class="show-room-tuthietke">
                        <a href="http://demo.vinabits.com.vn/homeclick/Html/Keotha"><img src="~/Upload/Images/thietke02.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>

