@using Homeclick.Models;
@model IList<Category>

<div class="sidebar-box">
    <div class="box">
        <div class="box-title">
            <h3 class="title-sidebar title-cate-sidebar">Models</h3>
            <div class="box-tool">
                <a data-action="collapse" href="#"><i class="nav-arrow"></i></a>
            </div>
        </div>
        <div class="box-content clearfix">
            <ul class="category-list">
                @foreach (Category item in Model)
                {
                    <li class="model-link filter" data-filter=".model-@item.Id" data-content="@item.Id">
                        <a href="#model-@item.Id">@item.name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
