<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="vnModelContainer" connectionString="metadata=res://*/BusinessObjects.vnModel.csdl|res://*/BusinessObjects.vnModel.ssdl|res://*/BusinessObjects.vnModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=222.255.167.77;initial catalog=vinabits_homeclick;persist security info=True;user id=homeclickvn;password=M4fap6*5;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>