@using Homeclick.Models
@model IList<Product>


@foreach (Product product in Model)
{
    Dictionary<string, object> productArr = product.ToArray();
    Dictionary<string, object> detail = productArr["Product_detail"] as Dictionary<string, object>;
        <div class="product">
            <div class="product-image">
                <a href="#" class="product-link svg-item">
                    <img src="" data-price="@detail["gia"]" />
                </a>
            </div>
            <div class="product-title">
                <a href="#" class="product-link svg-item">
                    <h5>@product.name</h5>
                </a>
            </div>
        </div>
        }
