@using Homeclick.Models;
@model IList<Category>
@{
    Layout = null;
}

<div class="list-category sidebar">
    <h3 class="title-sidebar title-cate-sidebar">Bộ sưu tập</h3>
    <ul>
        @foreach (Category item in Model)
        {
            <li><a href="@Url.Action("")">@item.name</a></li>
        }
    </ul>
</div>

