
@{
    Layout = null;
}
<div id="slider-bosutap" class="nivoSlider">
    <img src="~/Upload/Images/slider_01.jpg" data-thumb="~/Upload/Images/slider_01.jpg" alt="" />
    <img src="~/Upload/Images/slider_02.jpg" data-thumb="~/Upload/Images/slider_02.jpg" alt="" />
    <img src="~/Upload/Images/slider_01.jpg" data-thumb="~/Upload/Images/slider_01.jpg" alt="" />
    <img src="~/Upload/Images/slider_02.jpg" data-thumb="~/Upload/Images/slider_02.jpg" alt="" />
</div>