.dxtlControl_Aqua
{
	cursor: default;
	font: 12px Tahoma, Geneva, sans-serif;
	color: black;
	border: 1px none #A3C0E8;
}
.dxtlControl_Aqua caption
{
	background: #F7FAFF none;
	color: #000000;
	border-bottom: 0 solid #A3C0E8;
	border: 1px solid #A3C0E8;
	font-weight: normal;
	text-align: center;
	padding: 5px 5px 6px;
}

/* Indent cells */
.dxtlIndent_Aqua,
.dxtlIndentWithButton_Aqua
{
	vertical-align: top;
	background: white none no-repeat top center;
}
.dxtlIndent_Aqua
{
	padding: 0 11px;
}
.dxtlICheckBox_Aqua
{
	margin: auto;
}
.dxtlIndentWithButton_Aqua
{
	padding: 4px;
}
.dxtlSelectionCell_Aqua
{
	border: 1px solid #C9D6E9;
}

/* Tree-lines cells */
.dxtlLineRoot_Aqua
{
	background: White url('CssImages/TreeLineRoot.gif') repeat-y top center;
}
.dxtlLineFirst_Aqua
{
	background-image: url('CssImages/TreeLineFirst.gif');
}
.dxtlLineMiddle_Aqua
{
	background-image: url('CssImages/TreeLineMiddle.gif');
}
.dxtlLineLast_Aqua
{
	background-image: url('CssImages/TreeLineLast.gif');
}

.dxtlLineFirstRtl_Aqua
{
	background-image: url('CssImages/TreeLineFirstRtl.gif');
}
.dxtlLineMiddleRtl_Aqua
{
	background-image: url('CssImages/TreeLineMiddleRtl.gif');
}
.dxtlLineLastRtl_Aqua
{
	background-image: url('CssImages/TreeLineLastRtl.gif');
}


/* Headers */
.dxtlControl_Aqua .dxtlHSDC 
{
    background: #C7DFFF;
}
.dxtlHeader_Aqua
{
    background: #E2F0FF url('CssImages/HeaderBack.gif') repeat-x;
	border: 1px solid #A3C0E8;
	padding: 5px;
	font-weight: normal;
}
.dxtlHeader_Aqua table.dxtl
{
	border-collapse: collapse;
	width: 100%;
}
.dxtlHeader_Aqua td.dxtl
{
	padding: 0;
}
.dxtlHeader_Aqua,
.dxtlHeader_Aqua td.dxtl
{
	color: #283B56;
	white-space: nowrap;
	text-align: left;
	overflow: hidden;
}

/* Nodes */
.dxtlNode_Aqua
{
	background: white none;
}
.dxtlAltNode_Aqua
{
	background: #F7FAFF none;
}
.dxtlSelectedNode_Aqua
{
	background: #FFBD69 none;
}
.dxtlFocusedNode_Aqua
{
	background: #FF9C3C none;
}
.dxtlInlineEditNode_Aqua
{
	background: white none;
}
.dxtlEditFormDisplayNode_Aqua
{
	background: #ECF4FE none;
}
.dxtlNode_Aqua td.dxtl, 
.dxtlAltNode_Aqua  td.dxtl, 
.dxtlSelectedNode_Aqua td.dxtl, 
.dxtlFocusedNode_Aqua td.dxtl,
.dxtlEditFormDisplayNode_Aqua td.dxtl,
.dxtlCommandCell_Aqua
{
	padding: 4px 5px 5px;
	border: 1px solid #C9D6E9;
	white-space: nowrap;
	overflow: hidden;
}
.dxtlHeader_Aqua .dxbButton_Aqua,
.dxtlCommandCell_Aqua .dxbButton_Aqua
{
    margin: 0 2px -1px 2px;
}
.dxtlHeader_Aqua .dxbButton_Aqua .dxb,
.dxtlCommandCel_Aqua .dxbButton_Aqua .dxb
{
	padding-top: 0;
    padding-bottom: 0;
}
.dxtlInlineEditNode_Aqua td.dxtl
{
	border: 1px solid #C9D6E9;
	padding: 1px;
}

/* Preview */
.dxtlPreview_Aqua
{
	background-color: #F7FAFF;
	color: #000000;
	padding: 15px 15px 20px;
	border: 1px solid #C9D6E9;
	overflow: hidden;
}

/* Footers */
.dxtlGroupFooter_Aqua
{
	background-color: #EEF3FF;
}
.dxtlFooter_Aqua,
.dxtlControl_Aqua .dxtlFSDC
{
	background-color: #EEF3FF;
}
.dxtlGroupFooter_Aqua td.dxtl,
.dxtlFooter_Aqua td.dxtl
{
	padding: 5px 6px 7px;
	white-space: nowrap;
	border: 1px solid #C9D6E9;
	overflow: hidden;
}
.dxtlGroupFooter_Aqua .dx-ar > br,
.dxtlFooter_Aqua .dx-ar > br
{
    float: none; 
}

/* Pagers */
.dxtlPagerTopPanel_Aqua
{
	border-bottom: 1px none #A3C0E8;
	background-color: #C7DFFF;
}
.dxtlPagerBottomPanel_Aqua
{
	border-top: 1px none #A3C0E8;
	background-color: #C7DFFF;
}
.dxtlPagerTopPanel_Aqua,
.dxtlPagerBottomPanel_Aqua
{
	padding: 2px 0;
}

/* Editing */
.dxtlEditForm_Aqua
{
	background: #F7FAFF none;
	border: 1px solid #C9D6E9;
	padding: 8px 10px 10px;
}
.dxtlEditFormCaption_Aqua,
.dxtlEditFormEditCell_Aqua
{
	padding: 4px;
}
.dxtlEditFormCaption_Aqua
{
	padding-left: 10px;
	white-space: nowrap;
}
.dxtlError_Aqua
{
	background: #DBEBFF none;
	color: #FF0000;
	padding: 6px 10px;
	border: 1px solid #C9D6E9;
}
.dxtlPopupEditForm_Aqua
{
	padding: 12px;
}

/* Links */
.dxtlControl_Aqua a,
.dxtlCommandCell_Aqua a
{
	color: #5689C5;
	text-decoration: underline;
}
.dxtlControl_Aqua a:hover
{
	color: #F39128;
	text-decoration: underline;
}
.dxtlHeader_Aqua a,
.dxtlFocusedNode_Aqua a,
.dxtlSelectedNode_Aqua a
{
	color: #5689C5;
}
.dxtlHeader_Aqua a:hover,
.dxtlFocusedNode_Aqua a:hover,
.dxtlSelectedNode_Aqua a:hover
{
	color: #F39128;
}
.dxtlCommandCell_Aqua a
{
	margin-right: 3px;
}

/* Loading panel */
.dxtlLoadingPanel_Aqua 
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: #2C4D79;
	background-color: White;
	border: 1px solid #67A2C6;
}
.dxtlLoadingPanel_Aqua  td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 10px 20px 8px;
}
.dxtlLoadingPanel_Aqua .dxlp-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height:18px;
	width:18px;
}
/* Disabled */
.dxtlDisabled_Aqua,
.dxtlDisabled_Aqua .dxtl_Aqua
{
	color: #A1A1A1;
	cursor: default;
}

