@model IEnumerable<Homeclick.Models.CollectionViewModel>
@{ 
    var baseLink = Request.RequestContext.RouteData.Values["Controller"];
    var url = "";
}
<div class="grid-content clearfix">
    @foreach (var item in Model)
    {
        item.link = Url.Action("Detail", new { category_id = item.categoryId, collection_id = item.id });
        <div class="collection-item col-sm-4">
            <div class="collection-inner">
                <div class="image">
                    <a href="@item.link"><img src="@url/@item.image" alt="" /></a>
                </div>
                <div class="collection-detail">
                    <span class="collection-name">
                        <a href="@item.link">@item.name</a>
                    </span>
                </div>
            </div>
        </div>
    }
</div>