@using VCMS.Lib.Models;
@using VCMS.Lib.Models.Business;

@model IList<Category>
@{ 
    var categoryId = int.Parse(Request.Params["category_id"] ?? "-1");
}

<div class="sidebar">
    <div class="box">
        <div class="box-title">
            <h3 class="title-sidebar title-cate-sidebar">Bộ sưu tập</h3>
            <div class="box-tool">
                <a data-action="collapse" href="#"><i class="nav-arrow"></i></a>
            </div>
        </div>
        <div class="box-content clearfix">
            @Html.Partial("_shareSidebar", Model);
        </div>
    </div>
</div>
