@using Homeclick.Models;
@model IList<Category>
@{ 
    var baseLink = Request.RequestContext.RouteData.Values["Controller"];
    var url = "";
}

<div class="sidebar-box">
    <div class="box">
        <div class="box-title">
            <h3 class="title-sidebar title-cate-sidebar">Bộ sưu tập</h3>
            <div class="box-tool">
                <a data-action="collapse" href="#"><i class="nav-arrow"></i></a>
            </div>
        </div>
        <div class="box-content clearfix">
            <ul class="category-list">
                    @foreach (Category item in Model)
                    {
                        <li class="category-link" data-category="@item.Id"><a href="@Url.Action("Category", new { category_id = item.Id })">@item.name</a></li>
                    }
            </ul>
        </div>
    </div>
</div>
