<style>
    .description p {
        margin-bottom: 10px;
    }
    .description {
    line-height: 22px;
}
    .category-product-detail:before  {
        display: table;
    content: " ";
    }

    .table-product-detail thead tr th {
        padding: 5px 15px;
    }

</style>
<div class="">
    <div style="margin:10px 0;">
        <a href="#tabs2" onclick="Back()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    </div>

    <div class="description">
        <p><strong>Lorem Ipsum</strong> is simply dummy text of the printing and  typesetting industry. Lorem Ipsum has been the industry's standard dummy  text ever since the 1500s, when an unknown printer took a galley of  type and scrambled it to make a type specimen book. It has survived not  only five centuries, but also the leap into electronic typesetting,  remaining essentially unchanged. It was popularised in the 1960s with  the release of Letraset sheets containing Lorem Ipsum passages, and more  recently with desktop publishing software like Aldus PageMaker  including versions of Lorem Ipsum.</p><p><strong>Lorem Ipsum</strong> is simply dummy text of the printing and  typesetting industry. Lorem Ipsum has been the industry's standard dummy  text ever since the 1500s, when an unknown printer took a galley of  type and scrambled it to make a type specimen book. It has survived not  only five centuries, but also the leap into electronic typesetting,  remaining essentially unchanged. It was popularised in the 1960s with  the release of Letraset sheets containing Lorem Ipsum passages, and more  recently with desktop publishing software like Aldus PageMaker  including versions of Lorem Ipsum.<br></p>
    </div>
    <section class="col-md-12 product-list-section">
        <h3 class="section-header table-section-header">Sản phẩm trong Set</h3>
        <div class="total-html">Tổng: <span>6390000</span>đ</div>

        <div class="category-product-detail">
            <table class="table-striped col-md-12 table-product-detail">
                <thead>
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Tổng</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Skram - Ant B Side Table
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            Riviera Ottoman with Cushion in Green Apple
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            United States Stove
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            Empire Comfort System
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            Pellet Inserts
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div id="clear" style="clear:both;"></div>
        </div>
        <div id="product-grid" >
            <h6 class="number-items section-header">6 Sản phẩm</h6>

            <div class="product-grid ">

            </div>
        </div>
    </section>
    <section class="col-md-12 comment">
        <div class="fb-comments" data-width="100%" data-numposts="5"></div>
    </section>

    <script>
        //--------------Toogle--------------//
        $('.category-product-detail').hide();
        $('.table-section-header').unbind('click');

        $('.table-section-header').click(function () {
            $(this).toggleClass("active-show");
            $(this).parent('.product-list-section').addClass("list-show");
            $('.list-show .category-product-detail').slideToggle("slow");
            event.preventDefault();
        });
    </script>
</div>
