@model Homeclick.Models.ProjectLayout_Collection
@{ 
    var tableItems = ViewBag.TableItems as IEnumerable<Homeclick.Models.ProductsLayoutsLink>;
    var products = ViewBag.Products as IEnumerable<Homeclick.Models.Product>;
}

<style>
    .description p {
        margin-bottom: 10px;
    }
    .description {
    line-height: 22px;
}
    .category-product-detail:before  {
        display: table;
    content: " ";
    }

    .table-product-detail thead tr th {
        padding: 5px 15px;
    }

</style>

    <div class="description">
        @Html.Raw(Model.HtmlContent)
    </div>

    <section class="col-xs-12 product-list-section">
        @Html.Partial("_ProductsTable", tableItems)
        @Html.Partial("_ProductsGrid", products)
    </section>

    <script>
        $('.table-section-header').click(function () {
            $(this).toggleClass("active-show");
            $(this).parent('.product-list-section').addClass("list-show");
            $('.list-show .category-product-detail').slideToggle("slow");
            event.preventDefault();
        });
    </script>

