@model Homeclick.Models.ProjectLayout_Collection
@{ 
    var tableItems = ViewBag.TableItems as IEnumerable<Homeclick.Models.ProductsLayoutsLink>;
    var products = ViewBag.Products as IEnumerable<Homeclick.Models.Product>;
}

    <div class="row" role="img">
        <img src="/@Model.Image" />
    </div>

    <div class="collection-title">
        <span>@Model.Name</span>
    </div>

    <div class="description">
        @Html.Raw(Model.HtmlContent)
    </div>

    <section class="col-xs-12 product-list-section">
        @Html.Partial("_ProductsTable", tableItems)
        @Html.Partial("_ProductsGrid", products)
    </section>


