@model IEnumerable<Homeclick.Models.Product>
    @{ 
        var total = Model.Count();
    }
<div id="product-grid">
    <h6 class="number-items section-header">@total Sản phẩm</h6>
    <div class="product-grid ">

    </div>
</div>
