
<table class="table-striped col-md-12 table-product-detail">
    <thead>
        <tr>
            <th>Sản phẩm</th>
            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Tổng</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Skram - Ant B Side Table
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
