
    <div class="box row" >
        <div class="box-title">
            <h5>Contemporary Villa</h5>
            <div class="box-tool">
                <a data-action="collapse" href="#" onclick="Collapsed(this);"><i class="fa fa-chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content" style="display: block;">
                <p>
                    <span class="detail-name"><i class="fa  fa-th-list"></i>
                        Loại dự án
                    </span>
                    <h4 class="detail-value">Unknow</h4>
                </p>
                <p>
                    <span class="detail-name"><i class="fa  fa-user"></i> 
                        Chủ đầu tư
                    </span>
                    <h4 class="detail-value">Unknow</h4>
                </p>
                <span class="detail-name"><i class="fa  fa-map-marker"></i>
                    Vị trí
                </span>
                <div class="ebox">
                    <p><i class="fa fa-caret-right" aria-hidden="true"></i>
                        <span class="detail-name">
                            Thành phố
                        </span>
                        <h4 class="detail-value">Unknow</h4>
                    </p>
                    <p><i class="fa fa-caret-right" aria-hidden="true"></i>
                        <span class="detail-name">
                            Quận
                        </span>
                        <h4 class="detail-value">Unknow</h4>
                    </p>
                    <p><i class="fa fa-caret-right" aria-hidden="true"></i>
                        <span class="detail-name">
                            Đường
                        </span>
                        <h4 class="detail-value">Unknow</h4>
                    </p>
                </div>
                <p>
                    <span class="detail-name"><i class="fa  fa-arrows-alt"></i> 
                        Quy mô diện tích
                    </span>
                    <h4 class="detail-value">Uknow</h4>
                </p>
                <p>
                    <span class="detail-name"><i class="fa fa-home" aria-hidden="true"></i>
                        Tổng số căn hộ
                    </span>
                    <h4 class="detail-value">100</h4>
                </p>
                <p>
                    <span class="detail-name"><i class="fa  fa-calendar"></i>
                        Năm khởi công
                    </span>
                    <h4 class="detail-value">2016</h4>
                </p>
                <p>
                    <span class="detail-name"><i class="fa  fa-calendar"></i>
                        Dự kiến hoàn thành
                    </span>
                    <h4 class="detail-value">2018</h4>
                </p>
                <span>
                    ĐƠN VỊ THIẾT KẾ
                </span>
                <div class="ebox">
                    <p><i class="fa fa-caret-right" aria-hidden="true"></i>
                        <span class="detail-name">
                            Nội thất
                        </span>
                        <h4 class="detail-value">Unknow</h4>
                    </p>
                    <p><i class="fa fa-caret-right" aria-hidden="true"></i>
                        <span class="detail-name">
                            Kiến trúc
                        </span>
                        <h4 class="detail-value">Unknow</h4>
                    </p>
                    <p><i class="fa fa-caret-right" aria-hidden="true"></i>
                        <span class="detail-name">
                            Cảnh quan
                        </span>
                        <h4 class="detail-value">Unknow</h4>
                    </p>
                </div>
                <p>
                    <span class="detail-name">
                        Đơn vị thi công
                    </span>
                    <h4 class="detail-value">Unknow</h4>
                </p>
                <p>
                    <span class="detail-name">
                        Đơn vị quản lý
                    </span>
                    <h4 class="detail-value">Unknow</h4>
                </p>
                <p>
                    <span class="detail-name">
                        Đơn vị phân phôi
                    </span>
                    <h4 class="detail-value">Unknow</h4>
                </p>
        </div>
    </div>
