<style>
    .owl-buttons {
        display: none;
    }
    .owl-pagination {
        margin-top: -50px;
        margin-bottom: 20px;
        position: relative;
        left: inherit;
        bottom: inherit;
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        -webkit-transform: translate(0);
        transform: translate(0);
    }
</style>

<div class="project-slider">
    <div id="slider-projectDetail" class="owl-carousel owl-theme">

    </div>
</div>