
<style>
    .owl-buttons {
        display: none;
    }
    .owl-pagination {
        margin-top: -50px;
        margin-bottom: 20px;
        position: relative;
        left: inherit;
        bottom: inherit;
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        -webkit-transform: translate(0);
        transform: translate(0);
    }
</style>

<div class="project-slider">
    <div id="slider-home" class="owl-carousel owl-theme">
        <div class="item"><a href="#"><img src="https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/project_03-1024x574.jpg" alt=""></a></div>
        <div class="item"><a href="#"><img src="https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/project_12-1024x574.jpg" alt=""></a></div>
        <div class="item"><a href="#"><img src="https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/project_08-1024x574.jpg" alt=""></a></div>
    </div>
</div>