<div class="row" style="padding-bottom:15px;">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <div class="card card-shadow">
                <div>
                    <a class="fancybox" rel="group" href="https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/project_03-1024x574.jpg" title="Thumbnail">
                        <img style="height:auto; width:100%" src="https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/project_03-1024x574.jpg" alt="" />
                    </a>
                </div>
                <div class="card-title">
                    <span>Thumbnail</span>
                </div>
            </div>
        </div>
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
        <div class="card card-shadow">
            <div>
                <a class="fancybox" rel="group" href="https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/project_08-1024x574.jpg" title="Thumbnail">
                    <img style="height:auto; width:100%" src="https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/project_08-1024x574.jpg" alt="" />
                </a>
            </div>
            <div class="card-title">
                <span>Thumbnail</span>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
        <div class="card card-shadow">
            <div>
                <a class="fancybox" rel="group" href="https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/project_12-1024x574.jpg" title="Thumbnail">
                    <img style="height:auto; width:100%" src="https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/project_12-1024x574.jpg" alt="" />
                </a>
            </div>
            <div class="card-title">
                <span>Thumbnail</span>
            </div>
        </div>
    </div>
</div>
