@model IEnumerable<Homeclick.Models.ProjectItem>

<div class="clearfix">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 detail-thumbnail">
            <div class="card">
                    <a class="fancybox thumbnail" rel="thumbnail" href="@item.Image" title="@item.Description">
                        <img style="height:auto; width:100%" src="@item.Image" alt="" />
                    </a>
            </div>
        </div>
    }
</div>
