<style>
    .hentry_content {
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding-top:15px;
}
.hentry_content {
    font-size: 16px;
}
.alternative-heading {
        position: relative;
    margin-top: 30px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
</style>

<div class="hentry_content  project_content" >
    <p>Lorem ipsum dolor sit amet, mea cu omnium urbanitas, labitur volumus id eum. Ius ignota offendit similique et, sea dolorum vituperata ullamcorper et, justo insolens omittantur sit ne. Aliquip pertinax vix ad, ea eos euismod officiis. Utamur minimum repudiare qui ex. Rationibus theophrastus his ut, eum iudico pericula no. Mei id fugit dolor.&nbsp;Has ne legere tibique. At eam decore probatus. Delenit interesset an mei, ut eos tota vivendo deseruisse. Est at facete delenit democritum. Te nihil aliquip ornatus cum.</p>
    <h4 class="alternative-heading">More Space</h4>
    <p>Nec esse lorem te, qui ea nullam sanctus conceptam. Has ne legere tibique. At eam decore probatus. Delenit interesset an mei, ut eos tota vivendo deseruisse. Est at facete delenit democritum. Te nihil aliquip ornatus cum. Te dictas postulant torquatos qui, ei inani vidisse euismod nam. Ad brute saperet mea, eu vel dico sint tibique. Aperiri admodum voluptaria ut pri, adhuc velit augue in per. Qui te vero tritani, at nibh epicuri voluptaria quo.</p>
    <h4 class="alternative-heading">View Over The Sea</h4>
    <p>Ne sea agam quas, appetere constituto percipitur qui ex. Has ne legere tibique. At eam decore probatus. Delenit interesset an mei, ut eos tota vivendo deseruisse. Est at facete delenit democritum. Te nihil aliquip ornatus cum. Aliquip aliquam ius ad, ne sed lucilius patrioque concludaturque. Has ne legere tibique. At eam decore probatus. Delenit interesset an mei, ut eos tota vivendo deseruisse. Est at facete delenit democritum. Te nihil aliquip ornatus cum.&nbsp;Ne pro quaeque labores liberavisse, sumo hendrerit in nam. No duo dico atomorum, nam dicit consetetur in.</p>
</div>

<div class="row" style="padding-bottom:15px;">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <div class="card card-shadow">
                <div>
                    <a class="fancybox" rel="group" href="https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/project_03-1024x574.jpg" title="Thumbnail">
                        <img style="height:auto; width:100%" src="https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/project_03-1024x574.jpg" alt="" />
                    </a>
                </div>
                <div class="card-title">
                    <span>Thumbnail</span>
                </div>
            </div>
        </div>
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
        <div class="card card-shadow">
            <div>
                <a class="fancybox" rel="group" href="https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/project_08-1024x574.jpg" title="Thumbnail">
                    <img style="height:auto; width:100%" src="https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/project_08-1024x574.jpg" alt="" />
                </a>
            </div>
            <div class="card-title">
                <span>Thumbnail</span>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
        <div class="card card-shadow">
            <div>
                <a class="fancybox" rel="group" href="https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/project_12-1024x574.jpg" title="Thumbnail">
                    <img style="height:auto; width:100%" src="https://demo.proteusthemes.com/buildpress/wp-content/uploads/sites/16/2014/10/project_12-1024x574.jpg" alt="" />
                </a>
            </div>
            <div class="card-title">
                <span>Thumbnail</span>
            </div>
        </div>
    </div>
</div>
