@model IEnumerable<Homeclick.Models.ProjectItem>

<div class="row" style="margin-top:15px;">
    @foreach (var item in Model)
    {
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <div class="card card-shadow">
                <div>
                    <a class="fancybox" rel="thumbnail" href="@item.Image" title="@item.Description">
                        <img style="height:auto; width:100%" src="@item.Image" alt="" />
                    </a>
                </div>
                <div class="card-title">
                    <span>@item.Name</span>
                </div>
            </div>
        </div>
    }
</div>
