
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Project.cshtml";
}



<div class="main-body">
    <div class="row">
        <div class="project-tile col-sm-6 col-md-4">
            <div class="project-tile-image fullscreener fsr-container">
                <img width="650" height="420" src="http://themes.wplook.com/construction/wp-content/uploads/sites/15/2015/04/Helsinki-Central-Library-650x420.jpg" class="attachment-project-image size-project-image wp-post-image fsr-image fsr-hidden" alt="Helsinki-Central-Library">
            </div>

            <div class="project-tile-overlay">
                <h4>HELSINKI CENTRAL LIBRARY</h4>
                <a href="#" class="button tiny">View Project</a>
            </div>
        </div>
        <div class="project-tile col-sm-6 col-md-4">
            <div class="project-tile-image fullscreener fsr-container">
                <img width="650" height="420" src="http://themes.wplook.com/construction/wp-content/uploads/sites/15/2015/04/golf-academy-650x420.jpg" class="attachment-project-image size-project-image wp-post-image fsr-image fsr-hidden" alt="Helsinki-Central-Library">
            </div>

            <div class="project-tile-overlay">
                <h4>GOLF CLUB SKOLKOVO</h4>
                <a href="#" class="button tiny">View Project</a>
            </div>
        </div>
        <div class="project-tile col-sm-6 col-md-4">
            <div class="project-tile-image fullscreener fsr-container">
                <img width="650" height="420" src="http://themes.wplook.com/construction/wp-content/uploads/sites/15/2015/04/sbb-650x420.jpg" class="attachment-project-image size-project-image wp-post-image fsr-image fsr-hidden" alt="Helsinki-Central-Library">
            </div>

            <div class="project-tile-overlay">
                <h4>HOTEL SOCHI</h4>
                <a href="#" class="button tiny">View Project</a>
            </div>
        </div>
        <div class="project-tile col-sm-6 col-md-4">
            <div class="project-tile-image fullscreener fsr-container">
                <img width="650" height="420" src="http://themes.wplook.com/construction/wp-content/uploads/sites/15/2015/04/putney-650x420.jpg" class="attachment-project-image size-project-image wp-post-image fsr-image fsr-hidden" alt="Helsinki-Central-Library">
            </div>

            <div class="project-tile-overlay">
                <h4>CBC</h4>
                <a href="#" class="button tiny">View Project</a>
            </div>
        </div>
        <div class="project-tile col-sm-6 col-md-4">
            <div class="project-tile-image fullscreener fsr-container">
                <img width="650" height="420" src="http://themes.wplook.com/construction/wp-content/uploads/sites/15/2015/04/Hotel-Sochi-650x420.jpg" class="attachment-project-image size-project-image wp-post-image fsr-image fsr-hidden" alt="Helsinki-Central-Library">
            </div>

            <div class="project-tile-overlay">
                <h4>PUTNEY HOMES</h4>
                <a href="#" class="button tiny">View Project</a>
            </div>
        </div>
        <div class="project-tile col-sm-6 col-md-4">
            <div class="project-tile-image fullscreener fsr-container">
                <img width="650" height="420" src="http://themes.wplook.com/construction/wp-content/uploads/sites/15/2015/04/home-650x420.jpg" class="attachment-project-image size-project-image wp-post-image fsr-image fsr-hidden" alt="Helsinki-Central-Library">
            </div>

            <div class="project-tile-overlay">
                <h4>CENTRAL SPA HOBBY</h4>
                <a href="#" class="button tiny">View Project</a>
            </div>
        </div>
    </div>

</div>