@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Project.cshtml";
    var url = "";
}

<div class="row breadcrumb">
    <ul>
        <li><a href="../">Home</a></li>
        <li>Dự án</li>
    </ul>
</div>
<div class="main-head row">
    <div class="col-sm-8">
        <span class="main-title">DỰ ÁN</span>
    </div>
</div>
<div class="row">
    <div class="row">
        @Html.Partial("_ProjectsFilter")
        <div class="col-md-9">
            <div id="gmap" style='overflow:hidden;height:730px; width:100%;'>
                <div id='gmap_canvas' style="height:730px;width:100%;">
                </div>
                <div>
                    <small>
                        <a href="http://embedgooglemaps.com"></a>
                    </small>
                </div>
                <style>
                    #gmap_canvas img {
                        max-width: none !important;
                        background: none !important;
                    }

                    #gmap_canvas .info .info-body img {
                        max-height: 200px !important;
                    }

                    #gmap_canvas .info h3 {
                        margin-bottom: 15px;
                        color: #02bdb6;
                    }

                    .gm-style-iw {
                        width: auto !important;
                        top: 15px !important;
                        background-color: #fff;
                        box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
                        border-radius: 2px 2px 0 0;
                    }

                    .info {
                        padding: 15px;
                    }
                </style>
            </div>
            <div class="main-body">
                <div id="projectsGrid" class="clearfix">

                </div>

                <div id="projectsLoading" class="loading" style="display: none;">
                    <img class="loadingImg" src="@url/Content/loading.gif" height="150" width="150" />
                </div>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src="~/Scripts/Plugins/jlinq/jlinq.js"></script>
<script type='text/javascript' src="~/Scripts/Plugins/Map/markerclustererplus/src/markerclusterer.min.js"></script>
<script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBB5V34f3crBWyutuwFCy73IzRCdIwqUrI'></script>
<script type='text/javascript' src="~/Scripts/Plugins/Map/map.js"></script>

<script>

    var jsonData = [];
    var typeSelection = $('#projectTypeSelection');
    var citySelection = $('#projectCitiesSelection');
    var statuSelection = $('#projectStatuSelection');
    var filterTextBox = $('#filterTextBox');
    var filterButton = $('#filterButton');
    var projectsGrid = $('#projectsGrid');
    var findBySelection = $('#findBySelection');

    jQuery(document).ready(function ($) {
        var actionUrl = '@Url.Action("GetProjectsData", "Project")'
        $.getJSON(actionUrl, function (data) {
            jsonData = data;
            mapInit(jsonData);
        });


    });

    typeSelection.bind("change", function () {
        selectChanged();
    });

    citySelection.bind("change", function () {
        selectChanged();
    });

    statuSelection.bind("change", function () {
        selectChanged();
    });

    filterButton.bind("click", function () {
        selectChanged();
    });

    filterTextBox.bind("change",function () {
        selectChanged();
    });

    function selectChanged() {
        var typeSelectionVal = typeSelection.val();
        var citySelectionVal = citySelection.val();
        var statuSelectionVal = statuSelection.val();
        var filterTextBoxVal = filterTextBox.val();

        var result = jsonData;

        if (typeSelectionVal)
            result = filterByType(result, typeSelectionVal)

        if (citySelectionVal)
            result = filterByCity(result, citySelectionVal)

        if (statuSelectionVal)
            result = filterByStatu(result, statuSelectionVal)

        if (filterTextBoxVal)
        {
            var findByVal = findBySelection.val();
            result = filterByField(result, findByVal, filterTextBoxVal);
        }


        showMarkers(result);
    }


    function GetJsonData() {
        var actionUrl = '@Url.Action("GetProjectsData", "Project")'
        var result = $.getJSON(actionUrl, function () {
        })
          .done(function () {
              console.log("success");
          })
          .fail(function () {
              console.log("error");
          })
          .always(function () {
              console.log("complete");
          });
        return result;
    }

</script>