@using Homeclick.Models
@model Post

@{
    ViewBag.Title = Model.title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main id="main" class="main-content">
    <div class="container">
        <div class="row">
            <div class="page-wrapper">
                <header class="page-header">
                    <h1 class="page-title">@Model.title</h1>
                </header>
                <div class="page-content">
                    @{var escaped = new HtmlString(Model.content);}
                    @escaped
                </div>
            </div>
        </div>
    </div>
</main>