@using Homeclick.Models;
@model IList<Category>

@{
    ViewBag.Title = "Typologies";
    Layout = "../Shared/_Layout.cshtml";
    var url = "http://demo.vinabits.com.vn/homeclick2";
    var image_src = string.Empty;
    var link = string.Empty;
    var title = string.Empty;
    
}
<main id="main" class="main-content">
    <div class="container">
        <div class="row">
            <div class="masonry-wrapper">
                @foreach (Category typology in Model)
                {
                    image_src = typology.getDetailValue("icon").ToString();
                    link = Url.Action("Typology", "Category", new { @Id = @typology.Id });
                    title = typology.name;
                    <div class="grid-item">
                        <div class="row">
                            <div class="thumbnail-wrapper col-md-12">
                                <img src="@url/@image_src" class="thumbnail-image" />
                            </div>
                            <div class="title col-md-12">
                                <a href="@link"><h6 class="category-title">@title</h6></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</main>