.image-preview {
      width: 100px;
      height: 100px;
      overflow:hidden;
}
.image-preview img {
      height: 100%;
      min-width: 100%;
      left: 50%;
      position: relative;
      transform: translateX(-50%);
}

.form-control, .form-control-custom, .fileupload, .image-preview img {
    max-width:350px;
}

.form-control-custom {
    border:none;
    padding:0;
}

.zero-margin {
    margin: 0;
}

    table#DataTable > tbody > tr > td:last-child {
        text-align:end;
    }
        table#DataTable > tbody > tr > td:last-child > div {
            display:inline-block; 
            min-width:100px;
        }

        table#DataTable > thead > tr > th:last-child {
            width:100px;
        }

        .table-action {
            float:right;
        }

        .list-thumb {
            height:64px;
            width:64px;
        }

        .list-thumb img{
            height:auto;
            width:100%;
        }